/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Bsico ----------------------------------------------------------*/
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
img {
  border: none;
}

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
  border: 2px solid #777;
}

#cabecera {
  clear: both;
}
#menu {
  clear: both;
}
#lateral {
  float: left;
  width: 20%;
}
#contenido {
  float: right;
  width: 78%;
}
#contenido #principal {
  float: left;
  width: 78%;
}
#contenido #secundario {
  float: right;
  width: 20%;
}
#pie {
  clear: both;
}

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo {
  float: left;
}
#cabecera #buscador {
  float: right;
}

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li {
  display: inline;
  float: left;
}

/*-- Seccin Principal -----------------------------------------------*/
#contenido #principal .articulo img {
  width: 100px;
  float: left;
}

/*-- Pie de pgina ---------------------------------------------------*/
#pie .enlaces {
  float: left;
}
#pie .copyright {
  float: right;
}

/* === IMPORTANTE ===================================================
  A partir de aquí, se pueden añadir todos los estilos propios que 
  sean necesarios.
================================================================== */

body {
  font-family: sans-serif;
}

#cabecera {
  border: 0px;
  padding: 1rem;
}

#logo {
  color: #db905c;
  font-size: 1.2rem;
}

#logo h1 span {
  font-weight: 500;
}

#menu {
  background: #2647a0;
  border: 0px;
  padding: 0.75rem 0px 0.75rem 0.05rem;
}

#menu li a {
  margin: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

#lateral {
  margin: 5px 0 5px 0;
  border: 0px;
  font-size: 0.75rem;
}

#noticias,
#publicidad {
  margin: 5px 0px 5px 0px;
}

#lateral h3,
p,
a {
  margin: 3px 3px 8px 3px;
}

#noticias {
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(243, 243, 243);
}

#noticias p * {
  display: block;
  margin: 3px;
}

#noticias p span {
  color: lightslategray;
}

#noticias ul li {
  margin: 3px;
}

#publicidad {
  background: #fff6cd;
  border: 1px dashed #cc6600;
}

#publicidad a {
  color: #cc6600;
}

#publicidad p {
  color: dimgray;
}

#contenido {
  border: none;
}

#contenido h2 {
  color: #cc6600;
  font-size: 1.2rem;
  padding: 0.7rem 0rem 0.5rem 0rem;
}

#contenido #principal {
  border: none;
}

#principal p {
  font-size: 0.88rem;
  margin: 0.5rem 0 0.5rem 0;
}

#principal img {
  margin: 0.5rem;
}

#principal a {
  color: #cc6600;
}

#secundario {
  border: 1px solid #db905c !important;
  margin-top: 0.5rem;
  padding: 0.3rem;
}

#secundario h2 {
  font-size: 0.75rem;
  background: #db905c;
  color: white;
  margin: 0.2rem;
  padding: 0.5rem 0 0.5rem 0.2rem;
}

#secundario p,
a {
  font-size: 0.88rem;
}

#pie {
  margin-top: 1rem;
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  border-left: none;
  border-right: none;
  background: rgb(243, 243, 243);
}

#pie a {
  display: inline-block;
  margin: 0.1rem 0 0.3rem 0;
  font-size: 0.7rem;
}

.copyright {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  color: #777;
}

.enlaces {
  font-size: 0.88rem;
}
